<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>账本</title>
    <link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap.css"
          th:href="@{/bootstrap/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap-grid.css"
          th:href="@{/bootstrap/css/bootstrap-grid.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap-reboot.css"
          th:href="@{/bootstrap/css/bootstrap-reboot.css}"/>
</head>
<body>
<div class="container" id="App">
    <div class="card">
        <div class="card-header">
            <h3 class="text-center">账单管理</h3>
        </div>
        <div class="card-body form-inline mx-5">
            <label for="type">类型</label>
            <select class="form-control mx-auto" name="type" id="type">
                <option v-for="option in options" :key="option.value" :value="option.value"
                        v-text="option.text"></option>
            </select>
            <label for="start">从</label>
            <input class="form-control mx-auto" type="date" name="start" id="start">
            <label for="start">到</label>
            <input class="form-control mx-auto" type="date" name="end" id="end">
            <div class="mx-auto">
                <button class="form-control btn btn-primary" type="button">查账</button>
                <button class="form-control btn btn-secondary" type="button">记账</button>
            </div>
        </div>
    </div>
</div>
</body>
<script src="../static/js/jquery.js" th:src="@{/js/jquery.js}"></script>
<script src="../static/js/vue.js" th:src="@{/js/vue.js}"></script>
<script src="../static/bootstrap/js/bootstrap.js" th:src="@{/bootstrap/js/bootstrap.js}"></script>
<script src="../static/bootstrap/js/bootstrap.bundle.js" th:src="@{/bootstrap/js/bootstrap.bundle.js}"></script>
<script>
    var vm = new Vue({
        el: "#App",
        data: {
            options: [{value: 0, text: '不限'}, {value: 1, text: '支出'}, {value: 2, text: '收入'}]
        },
        methods: {}
    });
</script>
</html>